body {
	background-image: linear-gradient(to right, #E0F1FF, #BBD7F0);
}

.header h2 {
	color: #A3895F;
}

.header p {
	color: #50524F;
}

.results {
	margin-top: 20px;
}

.movie-container {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	margin: 10px;
}

.watchlist-container {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	margin: 10px;
}

.movie {
	padding: 10px;
	margin: 10px;
}

.card {
	background: #BBD7F0;
}

.card:hover {
	background: #F0DBBB;
	transition: all 0.3s ease-in-out 0s;
}
